html{
    padding: 5px;
}

body{
    width: 960px;
    margin: auto;
}

.panel{
    border: solid;
    border-width: 3px;
    border-color: #006dcc;
}

.panel-header{
    width: 100%;
}

.panel-title{
    background: #006dcc;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
}

.panel-content{
    padding: 5px;
}