/* line 3, ../scss/main.scss */
html {
  padding: 5px;
}

/* line 7, ../scss/main.scss */
body {
  width: 960px;
  margin: auto;
}

/* line 12, ../scss/main.scss */
.panel {
  border: 3px solid #006dcc;
}

/* line 16, ../scss/main.scss */
.panel-header {
  width: 100%;
}

/* line 20, ../scss/main.scss */
.panel-title {
  background: #006dcc;
  color: #ffffff;
  margin: 0px;
  padding: 5px;
}

/* line 30, ../scss/main.scss */
.angular-google-map-container {
  height: 400px;
}

/* line 34, ../scss/main.scss */
.map-panel {
  height: 433px;
  width: 796px;
  float: left;
}

/* line 40, ../scss/main.scss */
.float-right {
  float: right;
  height: 200px;
  width: 150px;
}

/* line 46, ../scss/main.scss */
#results-panel {
  position: absolute;
  top: 570px;
  width: 797px;
}

/* line 52, ../scss/main.scss */
.result-row {
  height: 65px;
  padding: 5px;
  border-bottom: 2px #006dcc solid;
}

/* line 58, ../scss/main.scss */
.result-row:hover, #news-panel li:hover {
  background-color: #d1eafe;
}

/* line 62, ../scss/main.scss */
.image-border {
  border: 1px solid gray;
}

/* line 66, ../scss/main.scss */
#news-panel ul {
  height: 167px;
  overflow-y: auto;
  list-style-type: none;
  padding: 5px;
}

/* line 73, ../scss/main.scss */
#news-panel li {
  border-bottom: 2px #006dcc solid;
}

/* line 77, ../scss/main.scss */
#ad-panel img {
  height: 167px;
  width: 100%;
}

/* line 82, ../scss/main.scss */
.wide-input {
  width: 200px;
}

/* line 86, ../scss/main.scss */
.left {
  float: left;
}

/* line 90, ../scss/main.scss */
.right {
  float: right;
}

/* line 94, ../scss/main.scss */
.small-image {
  height: 50px;
}
