/****************************************************
*  Styles for project X
*
****************************************************/
/* line 6, ../scss/styles.scss */
body {
  background: #f9f9f9 url(../images/bg-noise.png) repeat top left;
  margin: 0;
  padding: 0;
  font-family: arial;
  font-family: openSansRegular;
  font-size: 14px;
  color: #555;
}

/* line 20, ../scss/styles.scss */
#main-menu {
  background: #ffffff;
  height: 60px;
  border-bottom: 2px Solid #e1242e;
}
/* line 24, ../scss/styles.scss */
#main-menu div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
/* line 28, ../scss/styles.scss */
#main-menu div div {
  width: 100%;
  margin-top: 15px;
  float: left;
}
/* line 32, ../scss/styles.scss */
#main-menu div div .main-menu {
  float: right;
}
/* line 34, ../scss/styles.scss */
#main-menu div div .main-menu li {
  float: left;
}
/* line 36, ../scss/styles.scss */
#main-menu div div .main-menu li a {
  font-size: 18px;
  text-decoration: none;
  color: #292b2b;
}
/* line 41, ../scss/styles.scss */
#main-menu div div .main-menu li .y-divider {
  padding: 0 10px;
  position: relative;
  top: 2px;
}

/* line 51, ../scss/styles.scss */
#banner-area {
  background: #282828 url(../images/banner-img-01.png) no-repeat center center;
  height: 300px;
  width: 100%;
}

/* line 58, ../scss/styles.scss */
#main-container {
  width: 100%;
  overflow: hidden;
}
/* line 61, ../scss/styles.scss */
#main-container .main-inner-container {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 64, ../scss/styles.scss */
#main-container .main-inner-container .left-container {
  float: left;
  width: 880px;
}
/* line 68, ../scss/styles.scss */
#main-container .main-inner-container .right-container {
  float: left;
  width: 300px;
  margin: 15px 0px;
}
/* line 72, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news {
  background: white;
  border: 1px Solid #ccc;
}
/* line 75, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news h3 {
  margin-left: 15px;
  font-family: OpenSansCondensedBold;
  font-size: 20px;
}
/* line 80, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul {
  margin: 15px;
}
/* line 82, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul li {
  border-bottom: 1px solid #ccc;
}
/* line 84, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul li p {
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
/* line 88, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul li p strong {
  display: block;
  color: #333;
}
/* line 92, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul li p a {
  display: block;
}
/* line 96, ../scss/styles.scss */
#main-container .main-inner-container .right-container .news ul li:last-child {
  border-bottom: none;
}

/* line 108, ../scss/styles.scss */
#main-content {
  margin-bottom: 100px;
}
/* line 110, ../scss/styles.scss */
#main-content div {
  /*max-width: 1200px;
  margin: 0 auto;*/
  width: 100%;
}
/* line 114, ../scss/styles.scss */
#main-content div .project-item {
  margin: 15px 0;
  background: #f6f6f6;
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 1px #8b8b8b;
  -moz-box-shadow: 0px 0px 1px #8b8b8b;
  box-shadow: 0px 0px 1px #8b8b8b;
  overflow: hidden;
  height: 140px;
  width: 840px;
}
/* line 125, ../scss/styles.scss */
#main-content div .project-item ul li {
  float: left;
}
/* line 127, ../scss/styles.scss */
#main-content div .project-item ul li .company {
  margin: 20px;
}
/* line 134, ../scss/styles.scss */
#main-content div .project-info h4 {
  font-size: 18px;
}
/* line 137, ../scss/styles.scss */
#main-content div .project-info p {
  font-size: 14px;
  line-height: 20px;
}
/* line 141, ../scss/styles.scss */
#main-content div .project-info a {
  color: #e1242e;
  font-size: 16px;
}

/* line 148, ../scss/styles.scss */
.paginator {
  width: 840px !important;
  margin: 10px 0 !important;
  overflow: hidden;
}
/* line 152, ../scss/styles.scss */
.paginator .results {
  float: left;
  width: 15% !important;
  color: #666;
  margin-top: 3px !important;
}
/* line 157, ../scss/styles.scss */
.paginator .results img {
  padding: 0 5px;
  position: relative;
  top: 14px;
}
/* line 162, ../scss/styles.scss */
.paginator .results span {
  font-family: arial;
  font-size: 18px;
  color: #589fc3;
  position: relative;
  top: 1px;
}
/* line 170, ../scss/styles.scss */
.paginator .paginator-2 {
  border-top: none;
  float: right;
  border-bottom: none;
  overflow: hidden;
  width: 80% !important;
}
/* line 176, ../scss/styles.scss */
.paginator .paginator-2 ul {
  overflow: hidden;
  width: 350px;
  margin: 0 auto;
  float: right;
}
/* line 181, ../scss/styles.scss */
.paginator .paginator-2 ul li {
  float: left;
  margin: 0px 4px;
}
/* line 184, ../scss/styles.scss */
.paginator .paginator-2 ul li .lbl-viewpage {
  margin-left: 5px;
}
/* line 187, ../scss/styles.scss */
.paginator .paginator-2 ul li span {
  margin: 6px 0 0 0;
  float: left;
}
/* line 191, ../scss/styles.scss */
.paginator .paginator-2 ul li a {
  padding: 5px 10px;
  display: block;
  color: #bdbec0;
  border: 1px Solid #bdbec0;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 202, ../scss/styles.scss */
.paginator .paginator-2 ul li a.selected {
  border: 1px Solid #5a9fc3;
  background-color: #5a9fc3;
  color: #fff;
}
/* line 207, ../scss/styles.scss */
.paginator .paginator-2 ul li a:hover {
  background: #5a9fc3;
  border: 1px Solid #5a9fc3;
  color: white;
}

/* line 218, ../scss/styles.scss */
a {
  text-decoration: none;
  color: #589fc3;
}

/* line 223, ../scss/styles.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 226, ../scss/styles.scss */
ul li {
  list-style: none;
}

/* line 230, ../scss/styles.scss */
h1 {
  font-size: 40px;
  color: #292b2b;
}

/* line 234, ../scss/styles.scss */
h4 {
  margin: 5px 0;
}

/* line 237, ../scss/styles.scss */
.round-corners {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 242, ../scss/styles.scss */
hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 20px 0;
}

/* line 252, ../scss/styles.scss */
table tr td {
  padding: 5px 40px 5px 0px;
}

/* line 258, ../scss/styles.scss */
.angular-google-map-container {
  height: 400px;
  width: 840px;
  margin: 15px 0;
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 1px #8b8b8b;
  -moz-box-shadow: 0px 0px 1px #8b8b8b;
  box-shadow: 0px 0px 1px #8b8b8b;
  overflow: hidden;
}
