<div class="admin-toolbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li c/lass="active"><a href="#/adminDashboard" class="admin-dashboard">Dashboard</a></li>
                <li><a href="#/adminProjects" class="admin-myprojects" >Dina projekt</a></li>
                <li><a href="#/adminNews" class="admin-news selected">Nyheter</a></li>
                <li><a href="#/adminUsers" class="admin-users">Användare</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content-container" class="container">
    <div class="row show-grid">
        <div class="col-md-8">
            <h3>Lägg till / Ändra på nyheter</h3>
            <div class="toolbar">
                <ul>
                    <li style="float:left;">
                        <button data-ng-click="createNews()" class="btn-create">+ Skapa nyhet</button>
                    </li>
                    <li style="float:right;">
                        <button data-ng-click="saveNews()" class="btn-save">Spara</button>
                    </li>
                </ul>
            </div>

            <section id="main-content">
                <div class="add-news">
                    <ul>
                        <li>
                            <div>
                                <label for="lbl-objecttitle">Beskrivningstitel:</label>
                                <input id="objecttitle" data-ng-model="selectedNews.title" type="text" class="ng-pristine ng-valid">
                            </div>
                            <div>
                                <label for="lbl-moveindate">Publiceringsdatum:</label>
                                <input id="lbl-moveindate" data-ng-model="project.endDate" type="text" class="ng-pristine ng-valid">
                                <img class="ui-datepicker-trigger" src="content/images/calender-from.png" alt="..." title="...">
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="lbl-objecttitle">Beskrivningstitel:</label>
                                <textarea id="objectdescription" rows="6" cols="100" data-ng-model="selectedNews.content" class="ng-pristine ng-valid"></textarea>
                            </div>
                            <div>
                                <label for="lbl-moveindate">Giltig t.o.m.:</label>
                                <input id="lbl-moveindate" data-ng-model="project.endDate" type="text" class="ng-pristine ng-valid">
                                <img class="ui-datepicker-trigger" src="content/images/calender-to.png" alt="..." title="...">
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <hr/>
            <h3>Dina nyheter</h3>
            <hr/>

            <div class="resultslist">

                <ul>
                    <li data-ng-repeat="news in newsList">
                        <label data-ng-click="selectNews(news)">{{news.title}}</label>
                        <button data-ng-click="deleteNews(news._id)"><!--Delete--><img src="content/images/ico-close.png" /></button>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4 ">
            <h3>Information</h3>
            <div class="news ng-scope" data-ng-controller="NewsController">
                <ul>
                    <li data-ng-repeat="news in newsList" class="ng-scope">
                        <p>eric likes ....</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>