<div id="main-container">
    <div class="main-inner-container">
        <button data-ng-click="createProject()">Create Project</button>
        <table>
            <tbody>
            <tr data-ng-repeat="project in projects">
                <td><img class="small-image" src="{{project.projectPic}}"></td>
                <td>
                    <div>
                        <div>{{project.id}}</div>
                        <div>{{project.name}}</div>
                        <div>{{project.builder}}</div>
                    </div>
                </td>
                <td><button data-ng-click="editProject(project._id)">Edit</button></td>
                <td><button data-ng-click="viewProject(project._id)">View</button></td>
                <td><button data-ng-click="deleteProject(project._id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
