<div>
    <div id="main-container">
        <div class="main-inner-container">
            <h1>Dalénum områdesinformation</h1>
            <section id="map-area">
                <div>
                    <img src="../content/images/example-image.png" alt="" style="margin:0 0 25px 0;width:100%;" />
                </div>
            </section>
            <div class="left-container">
                <section id="main-content">
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <td><h4>Projektnamn:</h4></td>
                                    <td><input type="text" data-ng-model="project.name"></td>
                                </tr>
                                <tr>
                                    <td><h4>Projekt Byggare:</h4></td>
                                    <td><input type="text" data-ng-model="project.builder"></td>
                                </tr>
                                <tr>
                                    <td><h4>Antal lägenheter:</h4></td>
                                    <td><input type="text" data-ng-model="project.appartments"></td>
                                </tr>
                                <tr>
                                    <td><h4>Min Pris:</h4></td>
                                    <td><input type="text" data-ng-model="project.minPrice"></td>
                                </tr>
                                <tr>
                                    <td><h4>Max Pris:</h4></td>
                                    <td><input type="text" data-ng-model="project.maxPrice"></td>
                                </tr>
                                <tr>
                                    <td><h4>Min Antal Rum:</h4></td>
                                    <td><input type="text" data-ng-model="project.minRooms"></td>
                                </tr>
                                <tr>
                                    <td><h4>Max Antal Rum:</h4></td>
                                    <td><input type="text" data-ng-model="project.maxRooms"></td>
                                </tr>
                                <tr>
                                    <td><h4>Min Hyra:</h4></td>
                                    <td><input type="text" data-ng-model="project.minRent"></td>
                                </tr>
                                <tr>
                                    <td><h4>Max Hyra:</h4></td>
                                    <td><input type="text" data-ng-model="project.maxRent"></td>
                                </tr>
                                <tr>
                                    <td><h4>Min Boarea:</h4></td>
                                    <td><input type="text" data-ng-model="project.minSize"></td>
                                </tr>
                                <tr>
                                    <td><h4>Max Boarea:</h4></td>
                                    <td><input type="text" data-ng-model="project.maxSize"></td>
                                </tr>
                                <tr>
                                    <td><h4>Beräknad inflyttning:</h4></td>
                                    <td><input type="text" data-ng-model="project.endDate"></td>
                                </tr>

                            </table>
                        </li>
                    </ul>
                    <br/>

                    <div class="project-info">
                        <hr>
                        <h4>Beskrivningstitel:</h4>
                        <input type="text" data-ng-model="project.descriptionTitle">
                        <h4>Beskrivning:</h4>
                        <textarea rows="6" cols="100" data-ng-model="project.description"></textarea>
                        <hr>
                        <h4>Närområde</h4>
                        <textarea rows="6" cols="100" data-ng-model="project.areaInfo"></textarea>
                    </div>
                    <hr>
                    <table>
                        <tr data-ng-repeat="apartment in apartments">
                            <td>{{apartment.rooms}}</td>
                            <td>{{apartment.price}}</td>
                            <td>{{apartment.size}}</td>
                            <td><button data-ng-click="editApartment(apartment)">Edit</button></td>
                            <td><button data-ng-click="viewApartment(apartment)">View</button></td>
                            <td><button data-ng-click="deleteApartment(apartment)">Delete</button></td>
                        </tr>
                    </table>
                    <hr>
                    <select ng-model="selectedUser" ng-options="c.name for c in userList"></select>
                    <button data-ng-click="cancel()">Cancel</button>
                    <button data-ng-click="saveProject()">Spara</button>
                    <button data-ng-click="createApartment()">Create Apartment</button>
                </section>


            </div>
        </div>
    </div>
</div>