<div data-ng-controller="SearchController">

    <section id="banner-area">
        <div>Banner Area</div>
    </section>
    <div id="main-container">
        <div class="main-inner-container">
            <div class="left-container">
                <section id="map-area">
                    <google-map center='map.center' zoom='map.zoom' draggable="true"></google-map>
                </section>

                <section id="main-content">
                    <div>
                        <ul>
                            <li data-ng-repeat="project in projects">
                                <div class="project-item round-corners">
                                    <ul>
                                        <li>
                                            <a href="project.html"><img data-ng-src="{{project.projectPic}}" alt="" /></a>
                                        </li>
                                        <li>
                                            <table style="margin: 0 20px;">
                                                <tr>
                                                    <td colspan="2"><h4>Projektnamn: {{project.name}} | {{project.builder}}</h4></td>
                                                </tr>
                                                <tr>
                                                    <td>Antal lägenheter: {{project.appartments}}</td>
                                                    <td>Pris: {{project.minPrice}} - {{project.maxPrice}} Mkr</td>
                                                </tr>
                                                <tr>
                                                    <td>Antal rum: {{project.minRooms}} - {{project.maxRooms}}</td>
                                                    <td>Avgifter: {{project.minRent}} - {{project.maxRent}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Boarea: {{project.minSize}} - {{project.maxSize}}m²</td>
                                                    <td>Beräknad inflyttning: {{project.endDate}}</td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <img class="company" data-ng-src="{{project.companyPic}}" alt="" />
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="paginator">
                                    <div class="results">
                                        Sökresultat: <span>{{projects.length}}</span>
                                    </div>
                                    <div class="paginator-2">
                                        <ul>
                                            <li><span class="lbl-viewpage">Visa sida:</span></li>
                                            <li><a href="#" class="ui-corner-all selected">1</a></li>
                                            <li><a href="#" class="ui-corner-all">2</a></li>
                                            <li><a href="#" class="ui-corner-all">3</a></li>
                                            <li><a href="#" class="ui-corner-all">4</a></li>
                                            <li><a href="#" class="ui-corner-all">5</a></li>
                                            <li><a href="#" class="ui-corner-all">6</a></li>
                                            <!--<li><a href="#" class="ui-corner-all">&lt;</a></li>-->
                                            <li><a href="#" class="ui-corner-all">&gt;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="right-container">
                <div class="news">
                    <h3>Nya projekt</h3>
                    <ul>
                        <li data-ng-repeat="news in newsList">
                            <p>
                                <strong>{{news.date}}</strong>
                                <strong>{{news.title}}</strong>
                                {{news.content}}
                                <a href="#">Läs mer...</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>