<div data-ng-controller="SearchController">
    <form class="form-inline" role="form">
        <input class="wide-input form-control" type="text" placeholder="Search">
        <button class="btn btn-primary" data-toggle="modal" data-ng-click="openAdvSearch()">More</button>
        <label>{{city}}</label>
    </form>
    <form data-ng-hide="!showAdvSearch">
        <input>
        <input>
        <input>
        <input>
        <input>
    </form>
    <br/>
    <panel title="Map" class="map-panel">
        <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true"></google-map>
    </panel>
    <!--<map id="map-canvas"></map>-->
    <panel id="ad-panel" class="float-right" title="Reklam">
        <img src="/content/images/caffe.jpg">
    </panel>
    <panel id="news-panel" class="float-right" title="Nyheter">
        <ul>
            <li data-ng-repeat="news in newsList">
                {{news.title}}<br/>
                {{news.date}}<br/>
                {{news.content}}
            </li>
        </ul>
    </panel>

    <panel title="Results" id="results-panel">
        <div data-ng-repeat="project in projects" data-ng-click="selectProject(project)" class="result-row">
            <div>
                <img class="image-border left" src="{{project.projectPic}}">
                <div class="left">
                    <label>Projekt: {{project.name}}</label>
                    <label>Antal: {{project.apps}}</label>
                </div>
                <img class="image-border right" src="{{project.companyPic}}">
            </div>
        </div>
    </panel>
</div>