<div id="content-container" class="container" style="margin-top:50px;">
    <h1>Info</h1>
    <div class="row show-grid">
        <div class="col-md-8">
            <section id="main-content">
                <div>
                    <h4>Rubrik</h4>
                    <p>
                        Content
                    </p>
                </div>

                <hr>

            </section>
        </div>
        <div class="col-md-4 ">
            <h4>Rubrik Leftnav</h4>
            <div class="facts-project">
                <p>
                    Content
                </p>
            </div>
        </div>
    </div>
</div>