<div>
    <div id="main-container">
        <div class="main-inner-container">
            <h1>Dalénum områdesinformation</h1>
            <section id="map-area">
                <div>
                    <img src="../content/images/example-image.png" alt="" style="margin:0 0 25px 0;width:100%;" />
                </div>
            </section>
            <div class="left-container">
                <section id="main-content">
                    <ul>
                        <li>
                            <table>
                                <tr>
                                    <td colspan="2"><h4>Projektnamn: {{project.name}} | {{project.builder}}</h4></td>
                                </tr>
                                <tr>
                                    <td>Antal lägenheter: {{project.appartments}}</td>
                                    <td>Pris: {{project.minPrice}} - {{project.maxPrice}} Mkr</td>
                                </tr>
                                <tr>
                                    <td>Antal rum: {{project.minRooms}} - {{project.maxRooms}}</td>
                                    <td>Avgifter: {{project.minRent}} - {{project.maxRent}}</td>
                                </tr>
                                <tr>
                                    <td>Boarea: {{project.minSize}} - {{project.maxSize}}m²</td>
                                    <td>Beräknad inflyttning: {{project.endDate}}</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <br/>

                    <div class="project-info">
                        <hr>
                        <h4>{{project.descriptionTitle}}</h4>
                        <p>
                            {{project.description}}
                        </p>
                        <hr>
                        <h4>Närområde</h4>
                        <p>
                            {{project.areaInfo}}
                        </p>
                    </div>
                    <hr>
                    <h4>Apartments</h4>
                    <table>
                        <tr data-ng-repeat="apartment in apartments">
                            <td>{{apartment.rooms}}</td>
                            <td>{{apartment.price}}</td>
                            <td>{{apartment.size}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="project-info">
                        <h4>Kontact</h4>
                        <table>
                            <tr>
                                <td>Namn:</td>
                                <td>{{contact.name}}</td>
                            </tr>
                            <tr>
                                <td>Telefon:</td>
                                <td>{{contact.telephone}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{contact.email}}</td>
                            </tr>
                        </table>
                    </div>
                </section>

            </div>

        </div>
    </div>
</div>