<div>
    <div id="main-container">
        <div class="main-inner-container">
            <h1>Dalénum områdesinformation</h1>
            <section id="map-area">
                <div>
                    <img src="../content/images/example-image.png" alt="" style="margin:0 0 25px 0;width:100%;" />
                </div>
            </section>
            <div class="left-container" style="
float: left;
width: 780px;
margin-right: 60px;">

                <section id="main-content">
                    <div>
                        <div class="project-info">
                            <h4>Dalénum områdesinformation</h4>
                            <p>
                                I det tidigare AGA-området på Lidingö växer ett helt nytt bostadsområde fram, Dalénum. Här bygger JM kvarteren Ekparken, Ängsparken och Strandpromenaden. Första etappen Strandparken har redan färdigställts. Sammanlagt kommer JM att uppföra omkring 1000 bostäder i området.
                            </p>
                            <p>
                                Inom Dalénum kommer även 220 bostäder att uppföras med upplåtelseformen hyresrätt. Dessa kommer i huvudsak att förmedlas genom John Mattson. En första etapp är planerad för byggstart till sommaren 2013 med inflyttning under 2015.
                            </p>
                            <hr />
                            <h4>Ängsparken</h4>
                            <p>
                                Ängsparken består av fyra friliggande hus med ett strandnära läge. Inflyttning sker från och med september 2014 till mars 2015. Alla de 75 lägenheterna är yteffektiva och samtliga har sjöutsikt.
                            </p>
                            <a href="#">Läs mer om Ängsparken</a>
                            <hr />
                            <h4>Strandpromenaden</h4>
                            <p>
                                Strandparken, JMs första etapp i Dalénum, är nu färdigställd och inflyttad. De fyra huskropparna ligger i områdets sydöstra del i direkt anslutning till det blivande grönområdet Strandängsparken.
                            </p>
                            <a href="#">Läs mer om Strandpromenaden »</a>
                            <hr />
                            <h4>Dalénums framtida gestaltning</h4>
                            <p>
                                Dalénum växer fram till en levande stadsdel med bostäder, arbetsplatser och nya rekreationsområden. I området skapas bostäder omgärdade av grönska vid sidan av bostadskvarter med mer stadsmässig karaktär där de industrihistoriska byggnaderna bevaras och förädlas.
                            </p>
                            <p>
                                Längs strandpromenaden med utblick mot Stockholms inlopp kommer nya mötesplatser att växa fram såsom badplats, parapet, bryggor och kaj.
                            </p>
                            <hr />
                            <h4>Ta båten till Lidingö</h4>
                            <p>Med Sjövägens pendlingsbåtar tar du dig direkt från byggan i Dalénum till Nybrokajen i centrala Stockholm via Nacka Strand. Alla SLs biljetter gäller ombord.</p>
                            <p>På knappt 10 minuter tar du dig till tunnelbanestationen i Ropsten med Lidingöbanan. Därifrån tar resan in till Stockholm city 8 minuter. Lidingö centrum når du på kring 10 minuter med buss.</p>
                            <a href="#" id="">
                                Läs mer om kommunikationer och närområdet »
                            </a>

                        </div>
                </section>
            </div>
            <div class="right-container" style="margin-top:25px;">
                <div class="news" style="border:none;background:none;">
                    <h3>Nya projekt</h3>
                    <ul>
                        <li>
                            <p>
                                <strong>129 Lägenheter i Hjorthagen</strong>
                                Byggherre: Svenska Hus
                                <a href="#">Läs mer...</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Nyproduktion av 30 lägenheter vid Telefonplan</strong>
                                Byggherre: Svenska Hus
                                <a href="#">Läs mer...</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>36 Lägenheter i olika storlekar mitt i stan. Nya Fridhemsparken</strong>
                                Byggherre: JM
                                <a href="#">Läs mer...</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Nyproduktion av 15 lägenheter i Fältöversten, Stockholm</strong>
                                Byggherre: Veidekke
                                <a href="#">Läs mer...</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>