/****************************************************
*  Styles for project X
*
****************************************************/

/*Fix for angular bootstrap ui*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background: #f9f9f9 url(../images/bg-noise.png) repeat top left;
	margin: 0;
	padding: 0;

	font-family: arial;
	font-family: openSansRegular;
	font-size: 14px;
	color: #555;
}

#main-menu {
	background: #ffffff;
	height: 50px;
	border-bottom: 2px Solid #e1242e;
	div {
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		div {
			width: 100%;
			margin-top: 10px;
			float: left;
			.main-menu {
				float: right;
				li {
					float: left;
					a {
						font-size: 18px;
						text-decoration: none;
						color: #292b2b;
					}
					.y-divider {
						padding: 0 10px;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}
}
#banner-area {
	background: #282828 url(../images/banner-img-01.png) no-repeat center center;
	height: 300px;
	width: 100%;
}


#main-container {
	width: 100%;
	overflow: hidden;
	.main-inner-container {
		max-width: 1200px;
		margin: 0 auto;
		.left-container {
			float: left;
			width: 880px;
		}
		.right-container {
			float: left;
			width: 300px;
            margin: 15px 0px;
			.news {
				background:white;
				border:1px Solid #ccc;
				h3 {
					margin-left: 15px;
					font-family: OpenSansCondensedBold;
					font-size: 20px;
				}
				ul {
					margin: 15px;
					li {
						border-bottom: 1px solid #ccc;
						p {
							font-size: 13px;
							line-height: 18px;
							color: #555;
							strong {
								display: block;
								color: #333;
							}
							a {
								display: block;
							}
						}
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}



#main-content {
	margin-bottom: 100px;
	div {
		/*max-width: 1200px;
		margin: 0 auto;*/
		width: 100%;
		.project-item {
			margin: 15px 0;
			background: #f6f6f6;
			border: 5px solid white;
			-webkit-box-shadow: 0px 0px 1px rgba(139, 139, 139, 1);
			-moz-box-shadow:    0px 0px 1px rgba(139, 139, 139, 1);
			box-shadow:         0px 0px 1px rgba(139, 139, 139, 1);
			overflow: hidden;
			height: 140px;
			width: 840px;
			ul {
				li {
					float: left;
					.company {
						margin: 20px;
					}
				}
			}
		}
        .project-item:hover{
          background: #e0e0e0;
        }
		.project-info {
			h4 {
				font-size: 18px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
			a {
				color: #e1242e;
				font-size: 16px;
			}
		}
	}
}
.paginator {
	width: 840px !important;
	margin: 10px 0 !important;
	overflow: hidden;
	.results {
		float: left;
		width: 15% !important;
		color: #666;
		margin-top: 3px !important;
		img {
			padding: 0 5px;
			position: relative;
			top: 14px;
		}
		span {
			font-family: arial;
			font-size: 18px;
			color: #589fc3;
			position: relative;
			top: 1px;
		}
	}
	.paginator-2 {
		border-top: none;
		float: right;
		border-bottom: none;
		overflow: hidden;
		width: 80% !important;
		ul {
			overflow: hidden;
			width: 350px;
			margin: 0 auto;
			float: right;
			li {
				float: left;
				margin: 0px 4px;
				.lbl-viewpage {
					margin-left: 5px;
				}
				span {
					margin: 6px 0 0 0;
					float:left;
				}
				a {
					padding: 5px 10px;
					display: block;
					color: #bdbec0;
					border: 1px Solid #bdbec0;
					text-decoration: none;
					font-size: 16px;
					text-align: center;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					&.selected {
						border: 1px Solid #5a9fc3;
						background-color: #5a9fc3;
						color: #fff;
					}
					&:hover {
						background: #5a9fc3; 
						border: 1px Solid #5a9fc3;
						color: white;
					}
				}
			}
		}
	}
}

a {
	text-decoration: none;
	color: #589fc3;
}

ul {
margin: 0;
padding: 0;
	li {
		list-style: none;
	}
}
h1 {
	font-size: 40px;
	color: #292b2b;
}
h4 {
	margin: 5px 0;
}
.round-corners {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
hr {
	border: 0;
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	margin: 20px 0;
}

table {
	tr {
		td {
			padding: 5px  40px 5px 0px;
		}
	}
}

.angular-google-map-container {
  height: 400px;
  width: 840px;

  margin: 15px 0;

  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 1px #8b8b8b;
  -moz-box-shadow: 0px 0px 1px #8b8b8b;
  box-shadow: 0px 0px 1px #8b8b8b;
  overflow: hidden;
}

.small-image{
  height: 50px;
}



/* TONY TEMP - TO BE SORTED INTO SCSS */
#main-content .forms-left {
  width: 48%;
  float: left;
}
#main-content div {
  width: 100%;
  margin-bottom: 15px;
}
.toolbar {
  border: 1px solid #ccc;
  padding: 10px;
  background: #eee;
  margin-bottom: 20px;
  overflow: hidden;
}
button {
  background-color: #0094b5;
  border: 1px solid #0094b5;
  box-shadow: none;
  color: #fff;
  border-radius: 2px;
  transition: all 100ms ease-out;
}
.btn-create {
  background-color: #00B52B;
  border: 1px solid #00B52B;
}
input {
  height: 30px;
}
input, textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
label {
  min-width: 180px;
}
#main-container .main-inner-container .left-container {
  max-width: 834px;
}