/************************************************************************************
*
* Main Settings
*
************************************************************************************/
body {
  background: #f9f9f9 url(../images/bg-noise.png) repeat top left;
  margin: 0;
  padding: 0;
  font-family: openSansRegular, arial;
  font-size: 14px;
  color: #555;
}
h1 {
  font-family: openSansCondensedBold;
  font-size: 36px;
}
h3 {
  font-family: OpenSansCondensedBold;
  color: #303535;
}
h4 {
  font-family: OpenSansSemiboldRegular;
  color: #292b2b;
}

/************************************************************************************
*
* Nav Bar
*
************************************************************************************/

.navbar-inverse {
  background: #ffffff;
  /* height: 60px; */
  border-bottom: 3px Solid #e1242e;
  .navbar-nav {
    float: right;
    >li {
      font-size: 16px;
      a {
        color: #2b2b2b;
      }
    }
  }
  .navbar-brand {
    color: #999;
    padding: 10px;
  }
}

/************************************************************************************
*
* Content
*
************************************************************************************/

#content-container {
  padding: 25px 15px;
  text-align: left;
  .thumbs-project {
    .thumb-main {
      width: 100%;
    }
    .thumb-small {
      width: 100%;
      max-height: 128px;
    }
  }
  .toolbar {
    border: 1px solid #ccc;
    padding: 10px;
    background: #eee;
    margin: 15px 0 20px 0;
    overflow: hidden;
    .btn-create {
      background-color: #00B52B;
      border: 1px solid #00B52B;
    }
    button {
      background-color: #0094b5;
      border: 1px solid #0094b5;
      box-shadow: none;
      color: #fff;
      border-radius: 2px;
      padding: 2px 10px;
      transition: all 100ms ease-out;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }
  #main-content {
    .forms-left {
      width: 50%;
      float: left;
    }
    div {
      width: 100%;
      margin-bottom: 15px;
      p {
        color: #292b2b;
      }
    }
  }
}

.news {
  background: white;
  border: 1px Solid #ccc;
  padding: 15px;
  margin-top: 15px;
  h3 {
    padding: 0;
    margin: 0;
  }
}
.resultslist {
  ul {
    li {
      border-bottom: 1px Solid #ccc;
      padding: 10px 0;
      margin: 10px 0;
      button {
        float: right;
        background: none;
        border: none;
      }
    }
  }
}
.results {
  float: left;
  margin: 25px 0;
  .results-hit {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: #e1242e;
  }
}

.facts-project {
  table {
    tr {
      td {

      }
    }
  }
}
td:nth-child(2) {
  text-align: right;
}
/************************************************************************************
*
* Admin
*
************************************************************************************/
.admin-toolbar {
  display: block;
  height: 55px;
  margin-top: 55px;
  background: #eef0f1;
  border-bottom: 1px Solid #d2d2d2;
  .navbar-collapse {
    float: right;
    margin-right: 0;
    padding-right: 0;
    ul {
      li {
        margin-left: 10px;
        a {
          color: #888;
        }
        .selected {
          color: #e1242e;
        }
        .admin-dashboard {
          background: url(../images/ico-admin-dashboard.png) no-repeat center left;
          padding-left: 36px;
        }
        .admin-myprojects {
          background: url(../images/ico-admin-projects.png) no-repeat center left;
          padding-left: 36px;
        }
        .admin-news {
          background: url(../images/ico-admin-news.png) no-repeat center left;
          padding-left: 36px;
        }
        .admin-users {
          background: url(../images/ico-admin-users.png) no-repeat center left;
          padding-left: 36px;
        }
      }
    }
  }
}

/************************************************************************************
*
* Generel
*
************************************************************************************/
ul {
  list-style-type: none;
  li {
    overflow: hidden;
  }
}
hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  border-top: 1px solid #eee;
  height: 1px;
  margin: 20px 0;
}

.labb {
  /*background: white;
  border: 1px Solid #ccc;*/
  padding: 15px 0;
}
.round-corner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
a {
  color: #e1242e;
}
/************************************************************************************
*
* Forms
*
************************************************************************************/
input, textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input {
  height:30px;
}
textarea {
  width: 100%;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  min-width: 170px;
  font-weight: inherit;
  color: #333;
}
.ui-datepicker-trigger {
  position: relative;
  right: 28px;
}
select {
  border: solid 1px #ccc;
  color: #555;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  line-height: 27px;
  padding: 4px 6px;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/************************************************************************************
*
* Google Maps
*
************************************************************************************/
.angular-google-map-container {
  height: 400px;
  width: 100%;

  margin: 15px 0;

  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 1px #8b8b8b;
  -moz-box-shadow: 0px 0px 1px #8b8b8b;
  box-shadow: 0px 0px 1px #8b8b8b;
  overflow: hidden;
}

.small-image{
  height: 50px;
}
/************************************************************************************
*
* Bootsrap Overrides
*
************************************************************************************/
.col-md-8,
.col-md-4 {
  overflow: hidden;
  ul {
    padding-left: 0;
  }
}
.jumbotron {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  height: 300px;
  background: url(../images/bg-header.png);
  .welcome-text {
    font-family: 'Droid Serif' !important;
    font-style: italic;
    font-weight: 400;
    color: white;
    font-size: 30px;
    position: relative;
    top: 77px;
  }
}
.paginator {
  border-top: none;
  float: right;
  border-bottom: none;
  overflow: hidden;
  margin: 25px 0;
  span {
    &.lbl-viewpage {
      margin-right: 10px;
      float: left;
      margin-top: 6px;
      display: block;
    }
  }
  ul {
    overflow: hidden;
    margin: 0 auto;
    float: right;
    li {
      float: left;
      margin: 0px 4px;
      span {
        margin: 6px 0 0 0;
        float: left;
      }
      a {
        padding: 5px 10px;
        display: block;
        color: #bdbec0;
        background: transparent;
        border: 1px Solid #bdbec0;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-family: arial;
        font-size: 16px;
        color: #8a8989;
        margin-left: 0 !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        -ms-border-radius: 2px !important;
        -o-border-radius: 2px !important;
        border-radius: 2px !important;
        &.selected {
          border: 1px Solid #5a9fc3;
          background-color: #5a9fc3;
          color: #fff;
        }
      }
    }
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #333;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  color: #444;
  background-color: transparent;
  border-color: #e1242e;
}
.paginator ul li a {
  border: 1px Solid #999999;
  font-size: 14px;
  &:hover {
    border:1px Solid #bdbec0;
  }
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #e1242e;
}

@media (max-width: 768px) {
  ul.thumb-list-small {
    margin-top: 15px;;
    li {
      width: 32%;
      float: left;
      &:first-child {
        margin-right: 14px;
      }
      &:last-child {
        float:right;
      }
    }
  }
  .jumbotron .welcome-text {
    font-size: 24px;
    top: 60px;
  }
}
@media (max-width: 640px) {
  .navbar {
    .container {
      padding: 0;
      margin: 0;
      .navbar-collapse {
        width: 100%;
        margin: 0;
        padding: 0;
        .navbar-nav {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}